<!-- #Normal Листинг 5.23: Партиал заголовка со ссылками. app/views/layouts/#_header.html.erb#Листинг 8.16: Изменение ссылок шаблона для вошедших пользователей. app/views/layouts/#  _header.html.erb Листинг 9.36: Добавление URL к ссылке на список пользователей. app/views/layouts/_header.html.erb  "~/ch12_march24 to xgbua_march02 (?_CH12 bwithout)" -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
<li><%= link_to "August_04 ~/h263_aug04 -b master" %></li>
        <li><%= link_to "Home ", root_path %></li>
        <li><%#= link_to "Help", help_path %></li>
 <li><%#= link_to "Students", students_path %></li>


  <%# if logged_in? %>       #Листинг 8.16 9.4
<li><%#= link_to "signup_student", edit_student_path(current_user) %></li>
              <li class="divider"></li>                
<li><%#= link_to "Library", articles_path %></li>
               <li><%#= link_to('Bookmarks', folders_path) %></li>
              <!--  #Листинг 9.36:  -->
                         <li><%#= link_to "Users", users_path %></li>
        <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
                    <li><%#= link_to "Profile", current_user %></li>
                    <li><%#= link_to "Settings", edit_user_path(current_user) %></li>
<li><%#= link_to "stud_edit", edit_student_path(current_user) %></li>
              <li class="divider"></li>
                  <li>
                      <%#= link_to "Log out", logout_path, method: "delete" %>
                  </li>
            </ul>
          </li>


<li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Student <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
<li><%#= link_to "allstudents" %></li>
                    <li><%#= link_to "Students", students_path %></li>
                    <li><%#= link_to "Settings", edit_user_path(current_user) %></li>

<li><%#= link_to "stud_edit", edit_student_path(current_user) %></li>
              <li class="divider"></li>
                  <li>
                      <%#= link_to "Log out", logout_path, method: "delete" %>
                  </li>
            </ul>
          </li>









   <%# else %>
          <li><%#= link_to "Log in", login_path %></li>
        <%# end %>
      </ul>
    </nav>
  </div>
</header>

